@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --color-red: red;
  --spacing-1: 2rem;
}

body {
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

p {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.txt-two {
  color: brown;
  line-height: 130%;
}

main div.container-txt-img p:nth-child(even) {
  background-color: var(--color-red);
  padding: var(--spacing-1);
}

.container-hero {
  background: url("https://images.unsplash.com/photo-1600077106724-946750eeaf3c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat bottom center;
  background-size: cover;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  margin-top: 3rem;
  background-color: #aaaaaa;
  padding: 0.5rem 2rem;
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  background-color: rgb(157, 157, 157);
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

p {
  color: rgb(15, 15, 15);
}

.btn {
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: blue;
  color: white;
  padding: 1rem;
  border-radius: 24px;
}

.btn-1 {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-1:hover {
  background-color: aqua;
  color: black;
}

.btn-2 {
  transition: background-color 0.3s ease-in, color 0.3s ease-in,
    transform 0.3s ease-in-out;
}

.btn-2:hover {
  background-color: aqua;
  color: black;
  transform: scale(1.1);
}
