* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 60%;
  background-color: white;
  padding: 1rem;
}

h1 {
  text-align: center;
  display: none;
}

main > a:last-child {
  background-color: blueviolet;
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  h1 {
    display: block;
  }

  .container {
    flex-direction: row;
  }
}
