@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* INIT */
:root {
  --color-blue: #1130bc;
  --color-white: #fbfbfb;
  --color-bg: #e1e6fe;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

h3 {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-blue);
}

/* IMG */
img {
  border-radius: 8px;
  width: 100%;
}

/* MAIN CONTAINER */
main {
  border: 2px solid black;
  border-radius: 24px;
  padding: 1.5rem 1rem;
  width: 80%;
  box-shadow: 8px 8px 0px rgb(0, 0, 0);
  background-color: var(--color-bg);
}

/* QUOTE */
.txt-quote {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 0 1rem;
}

/* BTN */
.btn {
  display: flex;
  justify-content: flex-end;
}

.btn button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 8px;
  padding: 0.4rem;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.btn button:hover {
  transform: scale(1.05);
}

/* DESKTOP */
@media (min-width: 456px) {
  main {
    width: 22rem;
    box-shadow: 12px 12px 0px rgb(0, 0, 0);
  }

  .txt-quote {
    padding: 0 2rem;
  }
}
