@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* INIT */
:root {
  --color-blue: #1130bc;
  --color-white: #fbfbfb;
  --color-bg: #182121;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  color: white;
}

/* MAIN CONTAINER */
main {
  border: 2px solid black;
  border-radius: 24px;
  padding: 1.5rem 1rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-bg);
}

.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* IMG */
img {
  width: 100%;
}

/* POLYGON */
h1 {
  position: relative;
  padding-right: 8px;
  background: #6cc7e1;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 34% 100%);
  color: white;
  margin-top: -1px;
  margin-left: -1px;

  width: 273px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  height: 4rem;
}

h1::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  right: 2px;
  bottom: 2px;
  background: #182121;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 34% 100%);
  z-index: -1;
}

h3 {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-blue);
}

/* QUOTE */
.txt-quote {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 0 2rem;
}

/* BTN */
.btn {
  display: flex;
  justify-content: flex-end;
}
.btn button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 8px;
  padding: 0.4rem;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.btn button:hover {
  transform: scale(1.05);
}

/* RESPONSIVE */

@media (max-width: 455px) {
  main {
    width: 80%;
  }
}
